@import "~muicss/dist/css/mui.css";

html, body, input, textarea, button {
  /* -webkit-font-smoothing: antialiased; */
  text-rendering:optimizeLegibility;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); */
}

.app {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.tab {
  padding-top: 1em;
}

.spacer {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

footer {
  box-sizing: border-box;
  display: webkit-flex;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  height: 40px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
}
